* {    
    font-size: 2rem;
}

/* Calculator */
#calculator {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    /*  */
    width: 80vh;
    padding: 1rem;
    gap: 1rem
}


/* Display */
#display {
    border: 1.5px solid black;
    background-color: #dff3e7;
}

#display > .displayScreen {
    text-align: right;
    height: 1em;
}


/* Keyboard */
#keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    /* row-gap: 0.6rem; */
}

#keyboard div {
    display: flex;
    gap: 0.3rem;
}


/* Operations */
#operations {
    flex: 0 0 100%;
}

#operations > .operation{
    flex: 1 0 0%;
}


/* numPad */
#numPad {
    flex-wrap: wrap;
    flex: 0 0 75%;
}

#numPad > .operand,
#numPad > .operation {
    flex: 1 1 30%;
    
}

#numPad > .operand {
    text-align: left;
}


/* Operator */
#operators {
    flex-wrap: wrap;
    flex: 1 0 0%;
}

#operators > .operator {
    flex: 0 0 100%;
}
