* {    
    font-size: 2rem;
}

#calculator div {
    background-color: #daf8f4;
}

#calculator {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    border: 2px solid black;
}

#display {
    border: 1.5px solid black;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
}

#keyboard div {
    display: flex;
}

#operations {
    flex: 0 0 100%;
}
#operations > .operation{
    flex: 1 0 50%;
}

#Pad {
    flex-wrap: wrap;
    flex: 0 0 80%;
}

#numPad {
    flex-wrap: wrap;
}

#numPad > .operand {
    text-align: left;
    flex: 1 0 30%;
}

#extraPad {
    
}

#operators {
    flex-direction: column;
    flex: 0 0 20%;
}

#operators > .operator {

}
